<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Candler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.11.0" newVersion="1.8.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <!-- Source (MySQL) providing Flarum database -->
    <add name="Flarum" connectionString="Server=127.0.0.1;Port=3306;Database=flarum;Uid=root;Pwd=12345678;charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <applicationSettings>
    <Candler.Properties.Settings>
      <!-- Bearer token to authenticate with (see plugin administrative page) -->
      <setting name="BearerToken" serializeAs="String">
        <value>e480e807-8fe0-44de-b39b-c8d025298ef6</value>
      </setting>
      <!-- User ID to impersonate (temporary administrative User recommended) -->
      <setting name="UserId" serializeAs="String">
        <value>32</value>
      </setting>
      <!-- Parent category ID to use for imported categories -->
      <setting name="ParentCid" serializeAs="String">
        <value>38</value>
      </setting>
      <!-- Base URL of forum (witout API route)-->
      <setting name="BaseUrl" serializeAs="String">
        <value>https://forums.vigem.org</value>
      </setting>
    </Candler.Properties.Settings>
  </applicationSettings>
</configuration>